language: c
compiler:
  - gcc
  - clang
before_install:
  - autoconf --version
  - automake --version
  - sudo apt-get update
  - sudo apt-get install libcurl4-openssl-dev libjson0-dev
  - wget http://s3.amazonaws.com/influxdb/influxdb_latest_amd64.deb
  - sudo useradd influxdb
  - sudo dpkg -i influxdb_latest_amd64.deb
  - travis_retry sudo service influxdb restart
  - sudo service influxdb status
install:
  - ./bootstrap
